  body{
      
      font-family: 'Courier New', Courier, monospace;
      font-size: medium;
      background-color: orange;}

      #family_member_image{
          height: 175px;
          width: 145;
      }
      
      
  
  

  